<div id="tab-charts" class="tab">
  <h1>Canlı Grafikler</h1>
  <div class="charts-container">
    <div class="chart-box">
      <h3>Sorumlulara Göre Dağılım</h3>
      <iframe
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR3FYXQ_1zylldMKZ73oBRLvbE0QgfOfdZoR6ZP6Pay-D_YH2uuiptRt5XsJIQekxOkbwRplBBGNT4u/pubchart?oid=1960847737&format=interactive"
        height="300"></iframe>
    </div>

    <div class="chart-box">
      <h3>Durum Dağılımı</h3>
      <iframe
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR3FYXQ_1zylldMKZ73oBRLvbE0QgfOfdZoR6ZP6Pay-D_YH2uuiptRt5XsJIQekxOkbwRplBBGNT4u/pubchart?oid=1533843598&format=interactive"
        height="300"></iframe>
    </div>

    <div class="chart-box">
      <h3>Öncelik Dağılımı</h3>
      <iframe
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR3FYXQ_1zylldMKZ73oBRLvbE0QgfOfdZoR6ZP6Pay-D_YH2uuiptRt5XsJIQekxOkbwRplBBGNT4u/pubchart?oid=1650909334&format=interactive"
        height="300"></iframe>
    </div>
  </div>
</div>
