<div id="tab-edit" class="tab">
  <h1>Tabloyu Düzenle</h1>
  <p>Google Sheets üzerinden verileri düzenlemek için aşağıdaki butona tıklayın:</p>
  <a href="https://docs.google.com/spreadsheets/d/1MRE6qxE6jj9CXm2J6AP6glijTMR-Bn9imPLHRvAErfU/edit"
     target="_blank"
     class="btn-edit">
    Google Sheets'te Aç & Düzenle
  </a>
  <p style="color:#666; font-size:0.9em;">
    Not: Değişikliklerinizin görünmesi için \"Takip\" sekmesindeki
    \"Yenile\" butonuna basmanız gerekebilir.
  </p>
</div>
